body {
    background: #775D42;
    font: 100% Arial, Helvetica normal sans-serif;
    margin: 0 auto;
}
.wrapper  {
    margin-left: auto;
    margin-right: auto;
    width: 650px;
}
header  {
    width: 650px;
    height: 201px;
    margin: 0 auto;
}
.logotype  {
    display: block;
    width: 650px;
    height: 125px;
    margin: 40px 0 0 0;
    background-image: url(../img/headerlogo.gif);
    background-repeat: no-repeat;
    background-size: auto;
    border-bottom: 1px solid #000000;
}
.heading {
    width: 650px;
    height: 75px;
    margin: 0;
    padding: 0;
    background: #B7734B;
    border: solid #000000;
    border-width: 0 0 1px 0;
}
.heading h1  {
    font-size: 1.5em;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    margin-top: 0;
    padding-top: 22px;
}
.left_sidebar  {
    float: left;
    width: 130px;
    height: 1226px;
    padding: 1em;
    background: #CDB39A;
    margin: 1px 0 0 0;
    border-right: 1px solid #000000;
}
ul  {
    list-style: none;
}
li  {
    padding: 3px 0 0 0;
    text-align: center;
    margin-left: -35px;
}
.divider  {
    width: 100px;
    height: 20px;
    background-image: url(../img/divider.gif);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    margin-left: 15px;
}
nav a:link  {
    color: #775D42;
    text-decoration: none;
}
nav a:visited  {
    color: #775D42;
    text-decoration: none;
}
nav a:hover  {
    color: #ffffff;
    text-decoration: none;
}
.content  {
    float: right;
    width: 440px;
    height: 1226px;
    background: #ffffff;
    margin: 1px 0 0 0;
    padding: 0 23.5px 32px 23.5px;
}
.content p  {
    margin: 13.76px 0;
    padding: 10px;
    font-size: 14px;
}
.leaves_left, .leaves_right  {
    width: 125px;
    height: 93px;
    background-image: url("../img/leaves.gif");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
}
.leaves_left  {
    float: left;
}
.leaves_right  {
    float: right;
}
footer  {
    clear: both;
    width: 650px;
    height: 18px;
    background: #B7734B;
    border-top: 1px solid #000000;
}
footer p  {
    font-size: .8em;
    text-align: center;
    color: #F3FFF3;
    padding: 2.6px 0 0 0;
    margin: 0;
}
.content h2  {
    font-size: 1.3em;
    text-align: left;
    padding: 1em 0;
    color: rgb(153, 102, 51);;
}